trigger:
  branches:
    include:
      - Feature/*
variables:
  buildConfiguration: Release
  azureSubscription: Connection-1
  appName: contactmanagement-abhinav-webapp-dev
  resourceGroup: Abhinav
  projectFile: >-
    src/Hosting/CT.LnD.ContactManagement.Backend.Hosting.Asp/CT.LnD.ContactManagement.Backend.Hosting.Asp.csproj
stages:
  - stage: Build
    displayName: Build
    jobs:
      - job: Build
        pool:
          vmImage: windows-latest
        steps:
          - task: UseDotNet@2
            inputs:
              packageType: sdk
              version: '9.0'
          - task: DotNetCoreCLI@2
            displayName: Restore
            inputs:
              command: restore
              projects: $(projectFile)
          - task: DotNetCoreCLI@2
            displayName: Build
            inputs:
              command: build
              projects: $(projectFile)
              arguments: '--configuration $(buildConfiguration)'
          - task: DotNetCoreCLI@2
            displayName: Publish
            inputs:
              command: publish
              publishWebProjects: true
              arguments: >-
                --configuration $(buildConfiguration) --output
                $(Build.ArtifactStagingDirectory)
              zipAfterPublish: true
          - task: PublishBuildArtifacts@1
            displayName: Publish Artifact
            inputs:
              pathToPublish: $(Build.ArtifactStagingDirectory)
              artifactName: drop
              publishLocation: Container
  - stage: Deploy
    displayName: Deploy to Azure Web App
    dependsOn: Build
    condition: succeeded()
    jobs:
      - deployment: DeployWeb
        displayName: Deploy Web App
        environment: production
        pool:
          vmImage: windows-latest
        strategy:
          runOnce:
            deploy:
              steps:
                - task: DownloadBuildArtifacts@0
                  inputs:
                    buildType: current
                    downloadType: single
                    artifactName: drop
                    downloadPath: $(System.ArtifactsDirectory)
                - task: AzureWebApp@1
                  displayName: Deploy to Azure Web App
                  inputs:
                    azureSubscription: $(azureSubscription)
                    appType: webApp
                    appName: $(appName)
                    package: $(System.ArtifactsDirectory)/drop/**/*.zip
